---
import Layout from '../layouts/Layout.astro';
import Vera from "../components/Vera.astro";
import VeraTree from "../components/VeraTree.astro";
import FeatureCard from "../components/FeatureCard.astro";
import PriceCard from "../components/PriceCard.astro";
import QuoteCard from "../components/QuoteCard.astro";

---

<Layout>
  <section class="py-10 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6 text-left">
        <!-- Section label -->
        <p class="text-xs font-semibold text-gray-500 tracking-wider uppercase mb-2">
        Page
        </p>
        <h1 class="text-5xl font-extrabold text-gray-900 mb-2">Contact Us</h1>
    </div>
  </section>

<section class="bg-white-50 py-10">
  <div class="max-w-6xl mx-auto px-6 text-left relative px-10">
    <p class="text-xl text-gray-700 mb-4">
        We believe alignment is the foundation of progress. When individuals and teams understand how their ideas connect to shared goals, collaboration becomes natural and achievement follows.
    </p>
    <p class="text-xl text-gray-700 mb-4">
        That’s why we built <VeraTree />: a platform designed to make alignment visible, measurable, and actionable.
    </p>
    <p class="text-xl text-gray-700 mb-4">
        By combining these insights with operational data, <VeraTree /> helps leaders see where alignment is strong, where it’s missing, and how it affects outcomes. The result is clarity: teams can see the path forward together, and individuals understand how their contributions drive success.
    </p>
    <p class="text-xl text-gray-700 mb-4">
        Our mission is simple — to bring people together by helping them align, whether one-on-one, in teams, or across organizations. With <VeraTree />, alignment isn’t an aspiration — it’s a measurable advantage.
    </p>
  </div>
</section>


<section class="bg-gray-50 py-20">
  <div class="max-w-6xl mx-auto px-6 text-center">
  </div>
</section>


<section class="bg-white-50 py-20">
  <div class="max-w-6xl mx-auto px-6 text-center">

  </div>
</section>


</Layout>
