---
import Layout from '../layouts/Layout.astro';
import Vera from "../components/Vera.astro";
import VeraTree from "../components/VeraTree.astro";
import FeatureCard from "../components/FeatureCard.astro";
import PriceCard from "../components/PriceCard.astro";
import QuoteCard from "../components/QuoteCard.astro";

---

<Layout>
  <section class="py-10 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6 text-left">
        <!-- Section label -->
        <p class="text-xs font-semibold text-gray-500 tracking-wider uppercase mb-2">
        Page
        </p>
        <h1 class="text-5xl font-extrabold text-gray-900 mb-2">Contact Us</h1>
    </div>
  </section>

<section class="bg-white-50 py-10">
  <div class="max-w-6xl mx-auto px-6 text-left relative px-10">
    <div class="om-embedded-campaign" data-campaign-id="3"></div>
  </div>
</section>


</Layout>
