---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Vera from "../components/Vera.astro";
import VeraTree from "../components/VeraTree.astro";
---

<Layout>

  <!-- Hero -->
  <section class="bg-gray-50 py-24 text-center">
    <div class="max-w-6xl mx-auto px-4">
      <h1 class="font-['Raleway'] text-8xl text-gray-800 font-bold">The Power of Big Data...</h1>
      <br><br>
      <h2 class="text-5xl text-center text-gray-500 mb-8">Now available in all sizes!</h2>
      <br>
      <div class="flex justify-center gap-4">
        <a href="individuals" class="px-6 py-2 bg-gray-200 text-gray-800 text-lg rounded-lg hover:bg-gray-300 transition">For Individuals</a>
        <a href="leaders" class="px-6 py-2 bg-gray-200 text-gray-800 text-lg rounded-lg hover:bg-gray-300 transition">For Leaders</a>
        <!--<a href="leaders" class="px-6 py-2 bg-gray-200 text-gray-800 text-lg rounded-lg hover:bg-gray-300 transition">For Marketers</a>-->
      </div>
    </div>
  </section>

<section class="bg-white-50 py-10">
  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="p-2 order-1 md:order-1">
        <p class="text-4xl text-gray-900 text-center mb-8">
          Phenomenal processing power— itty-bitty living space.
        </p>
        <p class="text-2xl text-gray-600 text-center mb-8">
          <VeraTree /> brings the power of Big Data into a local, ultra-private environment where you're free to chat, explore, create and collaborate without fear or looking over your shoulder.
          <br><br>
          Designed for Teams who need data security and Individuals who want privacy.
        </p>
      </div>

      <!-- Right cell (shows second on mobile, second on desktop) -->
      <div class="p-2 order-2 md:order-2">
        <img 
          src="/images/veratree_realistic.png" 
          alt="VeraTree" 
          class="object-contain" 
          style="height:100%; width:auto; max-height:500px;" 
        />
      </div>
    </div>
  </div>
</section>


<!-- Features -->
<section id="features" class="py-10 bg-white">
  <div class="max-w-6xl mx-auto px-6">
    <!--<h2 class="text-4xl font-bold text-center text-gray-900 mb-16">
      Choose your preferred data playground..
    </h2>-->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      
      <!-- Real cards below -->
      <Card href="/individuals" icon="" buttonLabel="Learn more">
        <span slot="title">Individuals</span>
        <li slot="description">For Individuals who want to integrate their KnowledgeGraphs...</li>
        <li slot="description">Compare your Knowledge Graph with pre-loaded Graphs</li>
        <li slot="description">Solves this Pain Point</li>
      </Card>

      <Card href="/leaders" icon="" buttonLabel="Learn more">
        <span slot="title">Leaders</span>
        <li slot="description">Bring your teams into Alignment with AlignmentOps</li>
        <li slot="description">Solves this Pain Point</li>
        <li slot="description">Solves this Pain Point</li>
      </Card>

      <!--
      <Card href="/marketer" icon="" buttonLabel="Learn more">
        <span slot="title">Marketers</span>
        <li slot="description">For Teams who...</li>
        <li slot="description">Solves this Pain Point</li>
        <li slot="description">Solves this Pain Point</li>
      </Card>
      -->

    </div>
  </div>
</section>

</Layout>
