---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-10 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6 text-left">
        <!-- Section label -->
        <p class="text-sm font-semibold text-black-50 tracking-wider uppercase mb-2">
        Product
        </p>
        <h1 class="text-5xl font-extrabold text-gray-900 mb-2">For Leaders</h1>
        <!-- <p class="text-md text-gray-600 leading-relaxed mb-10 max-w-6xl">
        a little intro
        </p>-->
    </div>
  </section>

  <section class="bg-white py-10">
    <div class="max-w-6xl mx-auto px-10">
      <p class="mb-6">
      Blah blah blah
      </p>
      <p class="mb-6">
      Blah blah blah
      </p>
    </div>
  </section>

</Layout>
