---
import Layout from '../layouts/Layout.astro';
import Vera from "../components/Vera.astro";
import VeraTree from "../components/VeraTree.astro";
import FeatureCard from "../components/FeatureCard.astro";
import PriceCard from "../components/PriceCard.astro";
import QuoteCard from "../components/QuoteCard.astro";

---

<style>
  /* Hide the default marker */
  details summary::-webkit-details-marker {
    display: none;
  }
  details summary::marker {
    display: none;
  }
</style>

<Layout>
  <section class="py-10 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6 text-left">
        <!-- Section label -->
        <p class="text-xs font-semibold text-gray-500 tracking-wider uppercase mb-2">
        Product
        </p>
        <h1 class="text-3xl font-extrabold text-gray-900 mb-2">For Leaders</h1>
        <!-- <p class="text-md text-gray-600 leading-relaxed mb-10 max-w-6xl">
        a little intro
        </p>-->
    </div>
  </section>

<!-- Hero -->
<section class="bg-white-50 py-14">
  <div class="max-w-6xl pl-9 mx-auto px-4 text-left">
    <div class="flex flex-col md:flex-row md:items-stretch md:justify-between gap-6 pb-10">
      
      <!-- Left: h1 + h2 stacked -->
      <div class="flex-1 flex flex-col justify-left">
        <!-- <h2 class="text-2xl font-serif text-gray-900">[ə-ˈlīn-mənt ˌäps] noun</h2>  -->
        <h1 class="font-['Raleway'] sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl text-gray-900 font-bold mb-4">
          AlignmentOps
        </h1>
        <h2 class="text-4xl font-serif text-gray-900">
          A toolkit that builds alignment across ideas, people, processes and teams.
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-18">
      <QuoteCard
        template="2"
        quote="Not finance. Not strategy. Not technology. It is teamwork that remains the ultimate competitive advantage."
        author="Patrick Lencioni"
        role="Author, The Five Dysfunctions of a Team"
        image="/images/lencioni.png"
      />
      <QuoteCard
        template="2"
        quote="Organizations learn only through individuals who learn. But individual learning does not guarantee organizational learning. Without integration, it is only potential."
        author="Peter Senge"
        role="Author, The Fifth Discipline"
        image="/images/senge.png"
      />
    </div>
  </div>
</section>

<section class="bg-gray-50 py-10">
  <div class="max-w-6xl mx-auto px-6 text-left relative px-10">
    <h2 class="text-2xl font-extrabold text-gray-900 mb-4">How it works?</h2>
    <p class="text-l text-gray-700 mb-4">• Data — <VeraTree /> turns your team’s documentation, tickets, and other operational data into a clear snapshot of your project.</p>
    <p class="text-l text-gray-700 mb-4">• UI— manage tasks, ask questions, and monitor KPIs in near real time.  Explore alignment at mulitple resolutions: idea, project, team or org.</p>
    <p class="text-l text-gray-700 mb-4">• KPIs — Watch projects move forward and let the data verify when milestones are truly reached.</p>
    <p class="text-l text-gray-700 mb-4">• Alerts— get notified when thresholds are passed or progress is stalled.</p>
    <p class="text-l text-gray-700 mb-4">• Analytics— Measure alignment trends over time, uncover bottlenecks, and identify the drivers of project success or failure.</p>
  </div>
</section>


<section class="bg-white-50 py-12">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-4xl font-extrabold text-gray-900 mb-12">Product Features</h2>

    <div class="grid grid-cols-1 gap-8">
      <FeatureCard
        title="Discover"
        description="Navigate your team and project docs through a semantic Knowledge Graph.  Understand what your teams are thinking and the patterns and processes they are adopting."
        image="graph.jpg"
      />

      <FeatureCard
        title="Lead"
        description="Set expectations, deadlines, and benchmarks. Assign ownership, align responsibilities, and map internal datasets so leaders have a single source of truth to guide decision-making."
        image="graph.jpg"
      />

      <FeatureCard
        title="Unify"
        description="Stay unified across projects, reduce friction, and keep your team moving forward together."
        image="graph.jpg"
      />

      <FeatureCard
        title="Reflect, Rinse & Repeat"
        description="Measure alignment trends over time. Spot bottlenecks, refine processes, and adapt strategy based on real evidence—so every cycle makes your teams stronger, faster, and more aligned."
        image="graph.jpg"
      />

      <!--
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <QuoteCard
        quote="It is better to lead from behind and to put others in front...especially when you celebrate victory.  Take the front line when there is danger. Then people will appreciate your leadership."
        author="Nelson Mandela"
        role="Former President of South Africa, Anti-Apartheid Leader"
        image="/images/mandela.png"
      />
      <QuoteCard
        quote="Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results."
        author="Andrew Carnegie"
        role="Industrialist and Philanthropist"
        image="/images/carnegie.png"
      />
      </div>
      -->

    </div>
  </div>
</section>

<!--
<section class="bg-white-50 py-10">
  <h2 class="text-4xl font-extrabold text-gray-900 mb-8 text-center">Book a Call</h2>
  <p class="text-gray-600 mb-12 text-center">
    Schedule a time to connect with our team and learn more about TrueAlign.
  </p>
  <div 
    class="calendly-inline-widget w-full" 
    data-url="https://calendly.com/sarah-bluebill/30min?primary_color=033b8b" 
    style="height:700px;">
  </div>
  <script 
    type="text/javascript" 
    src="https://assets.calendly.com/assets/external/widget.js" 
    async>
  </script>
</section>
-->

<section class="bg-gray-50 py-20">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <h2 class="text-4xl font-extrabold text-gray-900 mb-12">Pricing</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <PriceCard
        title="Medium Box"
        description="For growing teams that need more power and flexibility."
        price="$4999"
        features={[
          "Unlimited projects",
          "Advanced analytics",
          "Priority support"
        ]}
        highlight={true}
      />

      <PriceCard
        title="Large Box"
        description="For enterprises needing scalability and dedicated support."
        price="$6999"
        features={[
          "Custom integrations",
          "Dedicated success manager",
          "Premium support"
        ]}
      />
    </div>
  </div>
</section>

<section id="waitlist" class="bg-white-50 py-20">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-4xl font-extrabold text-gray-900 text-center mb-12">
      Join The Waitlist!
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <!-- Left cell -->
      <div class="pt-20 pl-10 pr-6 pb-8">
        <h2 class="text-6xl font-bold text-gray-800">
          Skip the line.
        </h2>
        <p class="mt-4 text-gray-600">
          If you want to skip to the front, we'd love to talk.  Please use the calendar below to set an appointment.
        </p>
        <h2 class="text-8xl font-bold text-gray-800">
          ↓
        </h2>
      </div>

      <!-- Right cell -->
      <div>
        <script
          type="text/javascript"
          class="encharge-form-embed-script"
          src="https://resources-app.encharge.io/embed-production.min.js"
        ></script>
        <div
          class="encharge-form-embed"
          data-encharge-form-id="15de90f5-0492-4334-a4b2-40ab5536a3c8"
        ></div>
      </div>
    </div>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/sarah-veratree/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

  </div>
</section>

</Layout>
