---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <!-- Body -->
    <section class="py-20 bg-gray-50">
    <div class="max-w-6xl mx-auto px-6 text-left">
        <!-- Section label -->
        <p class="text-sm font-semibold text-gray-100 tracking-wider uppercase mb-2">
        Product
        </p>

        <h1 class="text-5xl font-extrabold text-gray-900 mb-6">
        VeraPersonal
        </h1>

        <p class="text-lg text-gray-600 leading-relaxed mb-10 max-w-6xl">
        Blah blah blah
        </p>

    </div>
    </section>
</Layout>
