---
const { title, description, image } = Astro.props;
---

<div class="relative rounded-xl bg-[#ececec] grid grid-cols-1 md:grid-cols-2 gap-4 p-4 items-start">
  <!-- Left cell -->
  <div class="flex flex-col text-left bg-white shadow-md hover:shadow-lg px-10 py-8 border-t-2 border-gray-700 rounded-lg mt-2 ml-2">
    <h3 class="text-xl font-bold text-gray-900 mb-2">{title}</h3>
    <p class="text-gray-600">{description}</p>
  </div>

<!-- Right cell -->
<div class="flex items-start justify-end">
  <img
    src={`/images/${image}`}
    alt={title}
    class="object-contain rounded-xl max-h-[250px] sm:max-h-[300px] md:max-h-[350px] lg:max-h-[400px] w-auto"
  />
</div>
</div>
