---
import VeraTree from "../components/VeraTree.astro";
---

<header class="bg-white border-b">
  <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <a href="" class="text-3xl"><VeraTree /></a>
    <nav class="flex gap-6 text-gray-700 px-16">
      <a href="/about" class="hover:text-gray-900">About Us</a>
      <a href="/contact" class="hover:text-gray-900">Contact</a>
    </nav>
  </div>
</header>
