<!--<span class="font-mono font-bold leading-none">VERA</span><span class="font-serif leading-none">tree</span> 
<span class="font-bold leading-none" style="font-family: Consolas, monospace;">VERA</span><span class="font-serif leading-none">tree</span>
<span class="font-bold leading-none" style="font-family: 'Courier New', monospace;">VERA</span><span class="font-serif leading-none">tree</span>
--><span class="font-bold leading-none" style="font-family: Monaco, monospace;">VERA</span><span class="font-serif leading-none">chat</span>
